*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #00607a;
    justify-content: center;
}



img{
    filter: opacity(.5) drop-shadow(0 0 #00607a);
}